@charset "UTF-8";
/* CSS Document -- Media Queries */

@media screen and (max-width:320px){
	
	
}


@media screen and (max-width:768px){
	/*
	Aaron Wilson | Student | Full Sail University
	WIA Course | November 2015 | Main Style CSS
*/

header { padding: 10px 0 0 0; display: block; }
header h1 { width: 768px; margin: 0 auto; }

/* START ***** navigation menu CSS styles */

.nav-wrap { 
	margin: 60px auto; 
}
/* Header CSS */
header {
	left: 0px;
	width: 768px;
	padding-bottom: 30px;
	}
#logo_wrap {
	top: -10px;
	left: 260px;
	background-image: url(../images/template/mm_logo-01.png);
	height: 102px;
	width: 235px;
	}
#head_info_wrap {
	top: 30px;
	right: 0px;
	height: 80px;
	width: 750px;
	padding-top: 20px;
	text-align: left;
	color: #000000;
	}
	
 #address, #weekdays {
	position: absolute;
	left: 0px;
	}
	
 #address strong {
	 color: #0E97D1;
	 }
 #weekdays strong {
	 color: #0E97D1;
	 }	
 #address {
	position: absolute;
	top: 60px;
	left: 145px;
	}	
 #weekdays {
	position: absolute;
	top: 80px;
	left: 45px;
	}
 #weekends {
	position: absolute;
	top: 80px;
	left: 400px;
	}
	
/* JQuery Navigation Menu */
#nav_menu { 
	margin: 0 auto; 
	list-style: none; 
	position: absolute; 
	left: 185px;
	width: 768px; 
}
#nav_menu li { 
	display: inline-block;	
}
#nav_menu a { 
	color: black; 
	font-size: 14px; 
	float: left;
	padding: 6px 10px 4px 10px;
	text-decoration: none;
	text-transform: uppercase;
}
/* END ***** navigation menu CSS styles */

#canvas_wrap {
	position: absolute;
	top: 190px;
	left: 478px
	}
}
